# ENV
NODE_ENV = 'State the nodejs enviroment'

# PORT
PORT = state the number of the port to use

# LOGGER
LOG_LEVEL = level of the logger winston

# DATABASE
DATABASE_URL = complete with the mongodb connection url

# AUTH
AUTH_SECRET = Complete with a password to encrypt the token (JWT)
AUTH_TIME = Duration of the token, can it be either 1h, 1d, 1w.