# ENV
NODE_ENV = 'State the nodejs enviroment'

# PORT
PORT = state the number of the port to use

# LOGGER
LOG_LEVEL = level of the logger winston

# DATABASE
DATABASE_URL = complete with the mongodb connection url